

@media(max-height:985px){
}

#header .nav li:nth-child(3)
{
	color:#63A1D7;
}

ul#list-categories{
	width:779px;
	height:1728px;
	margin-top:7px;
	margin-bottom:3px;
}

#list-body{
	width:779px;
	height:1767px;
	margin:31px 42px 39px;
	float:left;
}

#list-side{
	width:325px;
	height:1778px;
	float:left;
	margin:59px 47px auto 32px;
}

ul#list-categories>li{
	width:779px;
	height:216px;
}

ul#list-categories>li>h3{
	font-size:20px;
	color:#191919;
	font-family:"黑体";
	padding-top:16px;
	width:740px;
	float:left;
}

ul#list-categories>li>div.duct{
	float:right;
	width:36px;
	padding-top:25px;
	margin-bottom:6px;
}


ul#list-categories>li>ul.companies{
	margin-left:5px;
	margin-right:2px;
	margin-top:0;
	border-top:2px #314366 solid;
	clear:both;
	width:772px;
	height:166px;
}

ul#list-categories ul.companies>li{
	width:171px;
	height:165px;
	border:1px solid #b8b8b8;
	border-top-width:0;
	float:left;
	margin-right:8px;
	padding:0 7px;
}
ul#list-categories ul.companies>li:last-child{
	margin-right:0;
}

ul#list-categories ul.companies>li>h4{
	width:171px;
	height:51px;
	padding-top:9px;
	font:"黑体" 16px;
	color:#267bc0;
	line-height: 1.5;
	text-align: left;
}

ul#list-categories ul.companies>li>img{
	float:left;
}
ul#list-categories ul.companies>li>p{
	padding-top:7px;
	height:14px;
	font:14px "黑体";
	color:#30363d;
}
ul#list-categories ul.companies>li>p:last-child{
	clear:left;
	border-top:1px solid #e1e1e1;
	color:#555555;
	font-size:12px;
}
#list-side>ul>li{
	width:85px;
	height:21px;
	float:left;
	font:14px "黑体";
	padding-top:15px;
	padding-left:1px;
	color:#3b3b3b;
}
